//====================================================================================================
.header {
	// .header__top
	&__top {
	}
	// .header__bottom
	&__bottom {
	}
}
.top-header {
	padding: toRem(25) toRem(0);
	// .top-header__container
	&__container {
		display: flex;
		gap: toRem(20);
		align-items: center;
		justify-content: space-between;
	}
	// .top-header__logo
	&__logo {
		flex: 0 1 toRem(220);
	}
	// .top-header__logo-img
	&__logo-img {
		width: 100%;
		@media (max-width: $mobile) {
			width: 80%;
		}
	}
	// .top-header__info
	&__info {
		font-size: toRem(14);
		line-height: math.div(16, 14);
		@media (max-width: $tablet) {
			@media (max-width: em(820)) {
				display: none;
			}
		}
	}
	// .top-header__number
	&__number {
		font-size: toRem(23);
		@media (max-width: em(616)) {
			display: none;
		}
		&:nth-child(1) {
			font-weight: 600;
		}
	}
	// .top-header__number-tell
	&__number-tell {
		@include adaptiveValue("font-size", 23, 20, 0, 1590, 768);
		font-weight: 600;
		line-height: math.div(15, 14);
	}
	// .top-header__number-text
	&__number-text {
		color: #1c94c4;
		line-height: math.div(18, 14);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: toRem(14);
		gap: toRem(5);
		&::before {
			font-size: toRem(14);
		}
	}
	// .top-header__serch
	&__serch {
	}
}

.input {
}
.bootom-header {
}

.serch {
	position: relative;

	flex-grow: 0;
	flex-shrink: 1;
	@include adaptiveValue("flex-basis", 220, 180, 0, 1590, 768);
	// .serch__input
	&__input {
	}
	// .serch__button
	&__button {
		position: absolute;
		top: 50%;
		right: 5px;
		transform: translate(0, -50%);
		font-size: toRem(18);
	}
}
//========================================================================================================================================================

.bootom-header {
	background: #1c94c4;

	width: 100%;
	._header-scroll & {
		position: fixed;
		top: 0;
	}
	@media (max-width: $mobile) {
		min-height: toRem(60);
		display: flex;
		align-items: center;
	}

	// .bootom-header__container
	&__container {
		width: 100%;
		position: relative;
	}

	// .bootom-header__menu
	&__menu {
		@media (max-width: $mobile) {
			display: flex;
			justify-content: space-between;
		}
	}
	// .bootom-header__buscet
	&__buscet {
		@media (min-width: $mobile) {
			display: none;
		}
		font-weight: 600;
		position: relative;
		z-index: 3;
		&::before {
			font-size: toRem(25);
			color: #f8f3f3;
			position: relative;
		}
		span {
			color: #000;
			z-index: 10;
			position: absolute;
			top: -7px;
			right: -4px;
			font-size: toRem(14);
		}
		&::after {
			content: "";
			position: absolute;
			top: -10px;
			right: -10px;
			z-index: 9;
			width: 20px;
			height: 20px;
			background-color: yellow;
			display: block;
			border-radius: 50%;
		}
	}
}
.menu {
	@media (max-width: $mobile) {
	}
	// .menu__icon
	&__icon {
		div {
			position: relative;
			top: 0;
			left: em(-80, 20);
			font-size: toRem(20);
			color: white;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
	// .menu__body
	&__body {
		background: #1c94c4;
		@media (max-width: $mobile) {
			padding-top: toRem(40);
			width: 100%;
			position: absolute;
			top: 0;
			left: -100%;
			transition: all 0.4s ease 0s;
			.menu-open & {
				left: 0;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		height: 100%;
		@media (max-width: $mobile) {
			flex-direction: column;
		}
		.menu-open & {
			top: 0;
		}
	}
	// .menu__item
	&__item {
		display: flex;
		width: 100%;
		height: 100%;
		@media (max-width: $mobile) {
			border-bottom: rgba(255, 255, 255, 0.3) dotted 1px;
		}
	}
	// .menu__link
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 1 auto;
		height: toRem(60);
		text-transform: uppercase;
		font-weight: 700;
		color: #fff;
		border-right: rgba(255, 255, 255, 0.3) dotted 1px;
		@media (max-width: $mobile) {
			height: toRem(50);
		}
		&:first-child {
			border-left: rgba(255, 255, 255, 0.3) dotted 1px;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #1486b3;
			}
		}
	}
}
.icon-menu {
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
